@import '~@angular/material/theming';
.main-container {
  width: 100%;
  height: calc(100vh - 80px);
}
mat-sidenav{

  @include mat-elevation-transition;
 @include mat-elevation(2);
}
.mat-drawer-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
app-forbidden-page{
  align-self: center;
}