.no-data-found-wrapper.xsmall {
  .material-icons {
      font-size: 20px;
      margin: .45rem .25rem;
  }

  .no-data-found {
      font-size: 20px;
  }
}
.no-data-found-wrapper.small {
  .material-icons {
      font-size: 30px;
      margin: .5rem .75rem;
  }

  .no-data-found {
      font-size: 30px;
  }
}

.no-data-found-wrapper.medium {
  .material-icons {
      font-size: 42px;
      margin: .5rem 2rem;
  }

  .no-data-found {
      font-size: 42px;
  }
}

.no-data-found-wrapper.large {
  .material-icons {
      font-size: 60px;
      margin: .5rem 3.75rem;
  }

  .no-data-found {
      font-size: 60px;
  }
}
